* {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home {
    padding: 10px;
    height: fit-content;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/920/361/189/blurred-blue-gradient-wallpaper-preview.jpg');
}

.Home h3 {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid black;
}

.Home h3 strong {
    font-size: larger;
    font-style: italic;
    color: whitesmoke;
}

.navbar {
    display: flex;
    gap: 5px;
    padding: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.Buildings {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
}

.building-info {
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
}

.EditOption {
    display: flex;
    gap: 10px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.building-box {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.building-info p {
    text-align: justify;
    border-radius: 10px;
}

.building-info p strong {
    color: green;
    font-size: 17px;
}

.building-boxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(164, 164, 164, 0.331);
    color: white;
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 10px;
}

.room-boxes {
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.room-box {
    font-weight: bold;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    text-align: center;
    padding: 5px;
    transition: ease-in-out 0.2s;
}

.room-boxes button:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.678));
}

.room-box.occupied {
    background: linear-gradient(135deg, #ff0000, #ff4662, #ff7e7e);
    background-size: 200% 200%;
    animation: shine 1.5s infinite;
}

.room-box.free {
    background: linear-gradient(135deg, #00e800, #97ff97);
    background-size: 200%;
    animation: shine 1.5s infinite;
}

@keyframes shine {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.peaktime th {
    text-align: center;
}

.peaktime td {
    text-align: center;
    border: 0.5px solid black;
}

.roomname {
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 127, 127, 0.428);
    padding: 5px;
    border-radius: 10px;
}

@media (max-width: 790px) {
    * {
        font-size: medium;
    }
}

@media (max-width: 690px) {
    .Buildings {
        width: fit-content;
    }
}
