* {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.Home {
    padding: 10px;
    height: fit-content;
}

.navbar {
    display: flex;
    gap: 5px;
    padding: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.Buildings {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
}

.building-info {
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.525);
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
}

.EditOption {
    display: flex;
    gap: 10px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.building-box {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.building-info p {
    text-align: justify;
    border-radius: 10px;
}

.building-info p strong {
    color: green;
}

.building-boxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(124, 124, 124, 0.518);
    border-radius: 10px;
    padding: 10px;
}

.room-boxes {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.room-box {
    border-radius: 10px;
    height: 70px;
    width: 70px;
    text-align: center;
    padding: 5px;
    transition: ease-in-out 0.2s;
}

.room-boxes button:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.678));
}

.room-box.occupied {
    background-color: #FF033E;
}

.room-box.free {
    background-color: rgb(142, 255, 82);
}

.peaktime th {
    text-align: center;
}

.peaktime td {
    text-align: center;
    border: 0.5px solid black;
}

.roomname {
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 127, 127, 0.428);
    padding: 5px;
    border-radius: 10px;
}

.Home h3 {
    text-align: center;
}

@media (max-width: 790px) {
    * {
        font-size: medium;
    }
}

@media (max-width: 690px) {
    .Buildings {
        width: fit-content;
    }
}
